<launch>
      <arg name="model" default="$(find bumperbot_description)/urdf/bumperbot.urdf.xacro"/>
      
      <arg name="world" default="empty_world"/>
      //loading urdf on parameter server
    
      <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
      // calling and starting simulator
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <args name="paused" value="false"/>
        <args name="use_sim_time" value="true"/>
        <args name="gui" value="true"/>
        <args name="headless" value="false"/>
        <args name="debug" value="false"/>
        <args name="world_name" value="$(arg world)"/>

      </include>
      <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
         args="-unpause -urdf -model robot -param robot_description"
          output="screen" respawn="false"/>
</launch>